*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(BB.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; /* Ensure body can be a reference for absolute positioning */
}



section{
    position:relative;
    max-width: 500px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6.5rem;
    transition: all 0.5s ease-in-out;
}

h1{
    text-align: center;
    margin-bottom: 45px;
    color:black;
    font-size: 40px;
}

.textBoxdiv{
    border-bottom: 2px solid black;
    position: relative;
    margin: 35px 0;
}

.textBoxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100
}

.loginBtn{
    transition: 01s;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: url(BB.png);
    background-size: 200%;
    color:black;
    font-size: 16px
}

.loginBtn:hover{
    background-position: center;
}

.signupBtn{
    color:black;
    margin-top: 45px;
    text-align: center;
}

.place {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10; /* Ensure it stays on top */
}

.logo {
    height: 100px;
    width: 100px;
}
